<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    {% for book in page %}
    <li>{{ book.title }}    {{ book.price }}</li>

    {% endfor %}
</ul>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/books/?page=1">First</a></li>
    <li class="page-item"><a class="page-link" href="#">...</a></li>
      {% for i in page_range %}
          {% if i == visit_page_num %}
                <li class="page-item"><a class="page-link" style="background-color: red" href="/books/?page={{ i }}">{{ i }}</a></li>
          {% else %}
              <li class="page-item" ><a class="page-link" href="/books/?page={{ i }}">{{ i }}</a></li>
          {% endif %}
      {% endfor %}
    <li class="page-item"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="/books/?page={{ paginator.num_pages}}">Last</a></li>


  </ul>
</nav>
</body>
</html>